<div class="list-wrap">
  <ion-label class="t-lbl">{{'list.selectTitle' | translate}}</ion-label>
  <ion-list lines="none">
    <ion-button (click)="addURL()" style="--background: url(assets/imgs/btn-bg.png) no-repeat center center / cover;"><ion-label>{{'list.url' | translate}}</ion-label></ion-button>
    <ion-button (click)="addQR()" style="--background: url(assets/imgs/btn-bg.png) no-repeat center center / cover;"><ion-label>{{'list.qr' | translate}}</ion-label></ion-button>
    <ion-button (click)="addFile()" style="--background: url(assets/imgs/btn-bg.png) no-repeat center center / cover;"><ion-label>{{'list.file' | translate}}</ion-label></ion-button>
  </ion-list>
</div>